{% extends 'base.html.twig' %}

{% block title %}Liste de sessions de {% endblock %}

{% block body %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th scope="col">Session</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nombre de places total</th>
                <th scope="col">Details du programme</th>
            </tr>
        </thead>
        <tbody>
            {% for session in formation.sessions %}
                <tr>
                    <th scope="row"><a href="">{{session.intitule}}</a><br></th>
                    <td>{{session.dateDebut|date("d/m/Y")}}</td>
                    <td>{{session.dateFin|date("d/m/Y")}}</td>
                    <td>{{session.places}}</td>
                    <td><a href="">Afficher</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
