{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
{# {{ dump(sessions) }} #}

    <h1>Sessions : </h1>

    <table>
        <thead>
            <tr>
                <th>Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td><a href="">{{session.intitule}}</a><br></td>
                    <td><a href="">{{session.dateDebut|date("d/m/Y")}}</a></td>
                    <td><a href="">{{session.dateFin|date("d/m/Y")}}</a></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

