{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Stagiaires : </h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sessions en cours</th>
                <th>Sessions prévues</th>
                <th>Sessions passées</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
                <tr>
                    <td><a href="">{{stagiaire.nom|upper}}</a><br></td>
                    <td><a href="">{{stagiaire.prenom}}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
