{% extends 'base.html.twig' %}

{% block title %}{{session.intitule}}{% endblock %}

{% block body %}

    <h1>Programme de la session {{session.intitule}} : </h1>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th scope="col">Module</th>
                <th scope="col">Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for programme in session.programmes %}
                <tr>
                    <td>{{programme.modulee.intitule}}</td>                 
                    <td>{{programme.duree}}</td>                              
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}