{% extends 'base.html.twig' %}

{% block title %}Catégories de module{% endblock %}

{% block body %}

    <h1>Catégories : </h1>

    <a href="{{path('new_categorie')}}">Ajouter catégorie</a>

    <table>
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td><a href="">{{categorie.nom}}</a></td>
                    <td><a href="{{path('edit_categorie', {'id' : categorie.id})}}">Modifier</a> <a href="{{path('delete_categorie', {'id' : categorie.id})}}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
